html {
  -webkit-text-size-adjust: 100%;
  background-color: white
}

img {
  display: block;
  max-width: 70%;
  max-height: 80%;
  margin-left: auto;
  margin-right: auto;
  margin-top: 20px;
  margin-bottom: 25px;
}


#banner p {
  margin-left: 45px;
  margin-right: 50px;
}


#navbar {
  /* display: flex; */
  font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
  font-size: 14px;
  font-weight: bold;
  width: 80vw;
  top: 0;
  justify-content: space-between;
  padding: 1rem;
  text-transform: uppercase;
}

#navbar a {
  color: #323232;
}

#navbar ul {
  display: flex;
  flex-wrap: wrap;
  align-items: center;
  list-style: none;
}

#navbar ul li{
  flex: 1;
  color: inherit;
}

#navbar li {
  margin-left: 0em;
}

#navbar ul li a:hover,
#navbar ul li a.current,
#navbar ul li a.active{
    color: #7f7f7f;
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}


#banner {
    color: #191919;
}

#banner h1, span {
  text-transform: uppercase;
  text-align: center;
  font-size: 41px;
  font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

#banner p {
  padding: 1rem;
}

#banner span {
  color: #87cdb1
}

.flex-container {
  display: flex;
  align-content: center;
  align-items: center;
  width: 80vw;
}

aside {
  background-color: #6ac5af;
  padding: 1rem;
  color: inherit;
  height: 100%;
  width: 20vw;
  position: fixed;
  z-index: 1;
  top: 0;
  right:0;
  overflow: hidden;
  padding-top: 20px;
}

.bold {
  font-size: 25px;
  padding-bottom: 1px;
}

@media (max-width: 480px){

  #navbar ul li {
    flex-basis: 100%;
    border: #6ac5af dotted 1px;
  }

  #navbar {
    width: 100vw;
    text-align: center;
    margin-left: 50px;
  }
}

@media (max-width: 500px){

    aside {
      display:none;
    }

    .flex-container{
      width: 100vw;
      text-align: center;
    }

    #navbar {
      width: 100vw;
      text-align: center;
    }

    #navbar ul li {
      flex-basis: 100%;
      border: #6ac5af dotted 1px;
      margin-right: 25px;
    }

    #banner {
      text-align: center;
    }

    #banner h1 {
      font-size: 25px;
    }

    #banner span {
      font-size: 26px;
      font-weight: bold;
    }

}

@media  (max-width: 675px) {
  #navbar {
    width: 100vw;
    text-align: center;
  }

  #navbar ul li {
    flex-basis: 100%;
    margin-right: 150px;
  }

  .bold {
    font-size: 18px;
    padding-bottom: 1px;
  }
}
