
html {
  font: 100%/1.15 serif; 1./2.
  -webkit-text-size-adjust: 100%;
  background-color: white
}

img {
  width: auto;
  max-width: 100%;
  height: auto;
}


#navbar {
  padding: 1em 0;
  text-transform: uppercase;
  display: inline-block;
}

#navbar ul li a:hover,
#navbar ul li a.current,
#navbar ul li a.active{
    color: #a4b4d6;
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}


@media (min-width: 48em) {
}

#banner h1, span {
  text-transform: uppercase;
  size: 41px;
  font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

#banner span {
  color: #87cdb1
}

.flex-container {
  display: flex;
}

.sidebar {
  background-color: #6ac5af;
  padding:1rem;
  color:inherit;
}
