
html {
  font: 100%/1.15 serif; 1./2.
  -webkit-text-size-adjust: 100%;
  background-color: white;
}

img {
  width: 800px;
  height: 800px;
}


#navbar {
  display: flex;
  width: 80vw;
  top: 0;
  justify-content: space-between;
  z-index: 1;
  padding: 1rem;
  text-transform: uppercase;
}

#navbar ul {
  display: flex;
  align-items: center;
  list-style: none;
}

#navbar ul li {
  margin-right: 1.5em;
}

#navbar ul li a:hover,
#navbar ul li a.current,
#navbar ul li a.active{
    color: #a4b4d6;
    font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
    font-weight: bold;
    text-decoration: none;
}

@media (min-width: 48em) {
}

#banner h1, span {
  text-transform: uppercase;
  size: 41px;
  font-family: Arial,"Helvetica Neue", Helvetica, sans-serif;
  font-weight: bold;
}

#banner span {
  color: #87cdb1
}

.flex-container {
  display: flex;
  width: 80vw;
}

aside {
  height: 100%;
  width: 20vw;
  background-color: #6ac5af;
  padding: 1rem;
  color: inherit;
  position: fixed;
  z-index: 1;
  top: 0;
  right: 0;
  overflow: hidden;
  padding-top: 10px;
  font-size: 17px;
}

.bold {
  font-size: 29px;
  padding-bottom: 30px;
}
